@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body{
  width:100%;
  min-height:100vh;
  overflow-x:hidden;
}

/* PAGINA */

.pageBg {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  background: transparent;
  padding-bottom: 30px;
}

/* HEADER */
.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: linear-gradient(to bottom, white, rgb(228, 244, 255));
  padding: 14px;
  border-bottom: 2px solid #0077ff;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  color: #0077ff;
  margin: 0;
  letter-spacing: -1px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  font-size: 15px;
  font-weight: 700;
  color: #0077ff;
}


/* TITULO */

.tituloArea{
  animation: fadeIn 1s ease;
  padding-top: 90px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:12px;
}

.tituloArea h1{
  font-size:32px;
  font-weight:700;
  color:#111;

  letter-spacing: -1px;
}

.addBtn {
  animation: rotate 5s linear infinite;
  margin-left: 10px;
  display:flex;
  justify-content:center;

  font-size:28px;

  cursor:pointer;
}

/* SUBTITULO */

.subtitulo{
  animation: fadeIn 1s ease;
  color:#111;
  font-size:15px;
  line-height:1.4;
  margin-bottom:30px;
  font-weight:500;
}

/* FORM */

.formArea{
  animation: fadeIn 1s ease;
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction:column;
  gap:12px;
}

.inputField{
  width: 90%;
  height:52px;
  border-radius:16px;
  box-sizing: border-box;
  border: 2px solid #ffdb6f;
  background:#ffff;
  padding:0 16px;
  font-size: 17px;
  outline:none;
}

.inputField:focus {
  box-shadow: 0 0 20px #ffdb6f79;
}

.inputField::placeholder{
  color:#7c7c7c;
}

/* DATA */

.dataArea{
  position:relative;
}

.dataTexto{
  position:absolute;
  right:16px;
  top:50%;
  transform:translateY(-50%);

  color:#707070;
  font-weight:600;
}

/* SELECT */

.selectArea{
  width: 90%;
  transition: height 0.5s ease;

  border-radius:18px;
  border: 2px solid #ffdb6f;

  background:#ffff;

  overflow:hidden;
}

.selectTop {
  cursor: pointer;
  height:54px;

  padding:0 14px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  font-size: 17px;
  font-weight: 700;
  color:#555;
}

.seta{
  font-size: 20px;
  transition: transform 0.3s ease;
  color:#333;
}

.filhosLista {
  transition: transform 2s ease;
  cursor: pointer;
  animation: none !important;
  padding:0 14px 14px;
}

.filhosLista p{
  animation: none !important;
  margin-bottom:8px;
  color:#5d5d5d;
  font-size:16px;
  font-weight:600;
}

/* BOTAO */

.criarBtn{
  animation: fadeIn 1s ease;
  width: 90%;
  height:54px;
  border:none;
  border-radius:16px;
  background: linear-gradient(to right, #00a82d, #008f26);
  color:white;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  margin-top:20px;
}

/* NAVBAR */

.navBtn{
  border:none;
  background:none;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;

  cursor:pointer;

  color:#8c8c8c;
}

.navBtn.active{
  color:#00b92f;
}

.navIcon{
  font-size:20px;
}

.navText{
  font-size:11px;
  font-weight:600;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}