@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.screen {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  background: transparent;
  font-family: 'Segoe UI', sans-serif;
  padding-bottom: 95px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background: linear-gradient(to bottom, white, rgb(245, 255, 247));
  padding: 14px;
  border-bottom: 2px solid #00a83a;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  color: #00a83a;
  margin: 0;
}

.greeting {
  font-size: 15px;
  font-weight: 700;
  color: #00a83a;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  color: #00a83a;
  letter-spacing: -1px;
}

/* PERFIL */

.profileSection {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileAvatar {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00c853, #1e88ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: white;
  margin-bottom: 10px;
}

.profileAvatar span {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: avatarAnimation 2s ease-in-out infinite
}

.profileAvatar span img {
  height: 40px;
}

.profileName {
  font-size: 18px;
  font-weight: 900;
  color: #00a83a;

  margin-bottom: 2px;
}

.profileType {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}

/* RESPONSÁVEL */

.linkedSection {
  width: 100%;
  margin-top: 20px;
}

.linkedHeader {
  position: relative;
  z-index: 200;
  background: linear-gradient(90deg, #00c853, #1e88ff);
  color: white;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border-radius: 15px 15px 0 0;
  gap: 10px;
  font-size: 16px;
  font-weight: 800;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

.linkedHeader:last-of-type {
  background: linear-gradient(122deg, #00c853, #1e88ff);
}

.linkedBody {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.249);
  border-radius: 0 0 15px 15px;
  padding: 14px 12px;
  font-size: 18px;
  font-weight: 800;
  color: #00a83a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkedBody span {
  color: #979797;
  font-size: 14px;
}

/* LOGOUT (AJUSTADO) */

.logoutSection {
  animation: none !important;
  position: fixed;
  bottom: 92px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 390px;
  padding: 0 12px;
  z-index: 998;
}

.logoutButton {
  width: 100%;
  border: none;
  background: #c40000;
  color: white;
  padding: 16px 14px;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  transition: 0.3s;
}

.logoutButton:hover {
  transition: 0.3s;
  background: rgb(107, 0, 0);
}

/* KEYFRAMES */
@keyframes avatarAnimation {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1);
  }
}

/* MOBILE */

@media (max-width: 390px) {
  .screen {
    max-width: 100%;
  }

  .profileName {
    font-size: 17px;
  }

  .linkedBody {
    font-size: 16px;
  }

  .logoutButton {
    font-size: 16px;
    padding: 15px;
  }
}

@media (min-width: 800px) {
  .profileAvatar {
    width: 100px;
    height: 100px;
  }

  .profileAvatar p img {
    height: 50px;
  }

  .profileName {
    font-size: 26px;
    text-align: center;
  }

  .profileType {
    font-size: 15px;
    text-align: center;
  }
}