@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  background: #ececec;
}

/* FUNDO */

.pageBg {
  justify-self: center;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* HEADER */

.topoAnalise {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.topoAnalise h1 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  text-align: center;
  line-height: 1.1;
}

.topoAnalise h1 span {
  color: #ff2b2b;
}

.subtitulo {
  width: 80%;
  text-align: center;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 28px;
  font-weight: 500;
}

/* CARDS */

.cardsArea {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.cardTarefa {
  width: 90%;
  background: white;
  border-radius: 24px;
  padding: 18px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.141);
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
}

.infoTarefa {
  display: flex;
  gap: 12px;
}

.emoji {
  animation: moveRight 2s ease-in-out infinite;
  width: 48px;
  height: 48px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
}

.infoTarefa h3 {
  font-size: 17px;
  color: #111;
  margin-bottom: 4px;
}

.infoTarefa p {
  font-size: 15px;
  color: #8d8d8d;
}

.lixeiraBtn {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.lixeiraBtn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.confirmarBtn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 999px;
  background: linear-gradient(to right, #9e0000, #ff0000);
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 12px;

  transition: 0.5s;
}

.confirmarBtn:hover {
  transition: 0.5s;
  transform: scale(1.02);
}

.confirmadoTexto {
  display: block;
  text-align: center;
  color: #ff0000;
  font-size: 13px;
  font-weight: 700;
}

/* NAVBAR */

.navBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  border: none;
  background: none;

  color: #9a9a9a;
  cursor: pointer;
}

.navBtn.active {
  color: #00d648;
}

.navIcon {
  font-size: 22px;
}

.navText {
  font-size: 12px;
  font-weight: 600;
}

/* RESPONSIVO */

@media (max-width: 500px) {

  .pageBg {
    padding: 0;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-2px)
  }

  50% {
    transform: translateX(2px)
  }

  100% {
    transform: translateX(-2px);
  }
}