@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

html,
body{
  width:100%;
  min-height:100vh;
  background:#ffffff;
  overflow-x:hidden;
}

/* PAGINA */

.pageBg{
  width:100%;
  min-height:100vh;
  background:#ffffff;
}

/* CONTAINER */

.phoneContainer{
  width:100%;
  min-height:100vh;

  background:#ffffff;

  padding:20px 16px 110px;
}

/* HEADER */

.topoExpirada{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:18px;
}

.topoExpirada h1{
  font-size:33px;
  font-weight:700;
  color:#111;

  letter-spacing:-1px;
}

.topoExpirada h1 span{
  color:#ef0000;
}

.voltarBtn,
.emojiBtn{
  border:none;
  background:none;

  font-size:28px;
  color:#111;

  cursor:pointer;
}

.subtitulo{
  color:#9a9a9a;

  font-size:14px;
  line-height:1.4;

  margin-bottom:24px;

  font-weight:500;
}

/* CARDS */

.cardsArea{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.cardTarefa{
  background:#ffffff;

  border-radius:20px;

  padding:16px;

  border:1px solid #e5e5e5;

  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.cardTop{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  margin-bottom:18px;
}

.infoTarefa{
  display:flex;
  gap:12px;
}

.emoji{
  width:42px;
  height:42px;

  border-radius:12px;

  background:#f4f4f4;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:20px;
}

.infoTarefa h3{
  font-size:15px;
  color:#111;

  margin-bottom:4px;
}

.infoTarefa p{
  font-size:13px;
  color:#8d8d8d;
}

.lixeiraBtn{
  border:none;
  background:none;

  font-size:20px;

  cursor:pointer;
}

/* BOTAO */

.penalizarBtn{
  width:100%;
  height:48px;

  border:none;
  border-radius:999px;

  background:#df0000;
  color:white;

  font-size:16px;
  font-weight:700;

  cursor:pointer;

  margin-bottom:12px;
}

.expiradoTexto{
  display:block;

  text-align:center;

  color:#d70000;

  font-size:13px;
  font-weight:700;
}

/* NAVBAR */

.bottomNav{
  position:fixed;
  bottom:0;
  left:0;

  width:100%;
  height:80px;

  background:#ffffff;

  border-top:1px solid #e8e8e8;

  display:flex;
  justify-content:space-around;
  align-items:center;
}

.navBtn{
  border:none;
  background:none;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;

  cursor:pointer;

  color:#8c8c8c;
}

.navBtn.active{
  color:#00b92f;
}

.navIcon{
  font-size:20px;
}

.navText{
  font-size:11px;
  font-weight:600;
}