@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter',sans-serif;
}

section {
  animation: fadeIn 1s ease;
}

img {
  pointer-events: none;
  -webkit-user-select: none; 
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://t4.ftcdn.net/jpg/04/94/37/09/360_F_494370964_0i04CjwvH6IUM1MQoUDELoCHsJaWrWFb.jpg");
  opacity: 0.05; 
  z-index: -1; 

  animation: backgroundAnimate 10s ease-in-out infinite alternate;
}

html {
  height: 100vh;
}

body {
  background-image: 
    radial-gradient(at 0% 0%, rgba(0, 207, 76, 0.5) 0px, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(43, 142, 255) 0px, transparent 50%);
  background-repeat: no-repeat;
  animation: auroraBoreal 5s ease infinite alternate, fadeIn 1s ease !important;
  height: 100%;
  margin: 0;
  font-family: "Instrument Sans", "Inter", sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */
.bottomNav {
  animation: none;
  border-radius: 20px 20px 0 0; 
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 12px 0 10px;
  border-top: 2px solid #d7d7d7;
  z-index: 999;
  will-change: transform;
}

.navBtn {
  border: none !important;
  background: transparent !important;

  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 4px !important;
  cursor: pointer !important;
  padding: 8px 12px !important;
  font-family: 'Nunito', sans-serif !important;
}

.navIcon {
  font-size: 24px !important;
  line-height: 1 !important;

  color: #000 !important;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important; 
  -webkit-text-fill-color: #000 !important;
}

.navText {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: black !important;
  opacity: 0.6 !important;
}

.active .navText {
  opacity: 1 !important;
  background: linear-gradient(90deg, #00a83a, #4a90ff) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-weight: 900 !important;
  font-size: 15px !important;
}

/* TELA DE CARREGAMENTO */
.loadingScreen {
  animation: fadeIn 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  gap: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 123, 255, 0.1);
  border-left-color: #007bff; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes auroraBoreal {
  0% {
    background-position: 0% 0%;
    background-size: 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200;
  }
  100% {
    background-position: 0% 100%;
    background-size: 200%;
  }
}

@keyframes backgroundAnimate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@media (min-width: 768px) {
  .bottomNav {
    min-width: 500px; 
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 30px 30px 0 0; 
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.078);
  }
}

@keyframes auroraBoreal {
  0% {
    background-position: 0% 0%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 220% 180%; 
  }
  100% {
    background-position: 0% 100%;
    background-size: 180% 220%;
  }
}